
@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}

<!-- normal index view without bootstrap effects -->
@*<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Department</td>
                <td>@employee.Email</td>
            </tr>
            }
        </tbody>
    </table>*@


<!--  index view with bootstrap effects -->

<div class="card-deck">
    @foreach (var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/download.jpg" 
                                          asp-append-version="true"/>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-all-route-id="@employee.Id"
                   class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>
